<div class="p-4 w-full h-full flex flex-col items-center ">
  <h1 class="font-bold text-4xl tracking-wide">
    <span>{{ customer.first_name }}</span>
    <span>{{ customer.last_name }}</span>
  </h1>
  <span class="font-light traking-widest">{{ customer.email }}</span>
  <div class="h-24 w-96 bg-gray-100 rounded-full flex items-center justify-between px-6">
    <section class="flex flex-col items-center justify-center h-20 w-14">
      <h1 class="h-10 w-10 bg-gray-200 rounded flex items-center justify-center">{{ customer.orders_count }}</h1>
      <p class="text-light text-sm">Orders</p>
    </section>
    <section class="flex flex-col items-center justify-center h-20 w-14">
      <h1 class="h-10 w-10 bg-gray-200 rounded flex items-center justify-center">{{ customer.addresses_count }}</h1>
      <p class="text-light text-sm">Adresses</p>
    </section>
    <section class="flex flex-col items-center justify-center h-20 w-14">
      <h1 class="h-10 w-10 bg-gray-200 rounded flex items-center justify-center">{{ customer.total_spent }}</h1>
      <p class="text-light text-sm">Expenditure</p>
    </section>
  </div>
  <div>
</div>
</div>
